.shop-header{
    background-color: rgb(207,2,69);
    padding: 20px;
    /* Escape main paddings */
    margin-left: -4%;
    margin-right: -4%;
}
.shop-header h1{
    margin: 0;
    color: #FFF; 
    font-size: 50px;
    text-align: center;
}
@media (max-width: 767px) {
    .shop-header h1 {
        font-size: 32px;
    }
}

.shop-header input{
    width: calc(100% - 10px);
    height: 40px;
    margin: 5px;
    padding-left: 20px;
}

#auth-box{
   margin: 50px;
   text-align: center;
}
.shop-btn{
    display: inline-block;
    padding: .4em .8em;
    font-size: .9em;
    font-weight: 700;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    border-color: transparent;
    background-color: rgb(129, 60, 255);
} 

#shop-container{
    display: flex;
    /* Escape main paddings */
    margin-left: -4%;
    margin-right: -4%;
}
.category-navigation{
    display: block;
}
@media (max-width: 767px) {
    .category-navigation {
        display: none;
    }
}
.category-navigation ul li{
    list-style-type: none;
    cursor: pointer;
    padding: 5px;
}
.category-navigation ul li:hover{
    background-color: #813cff;
    color: #FFF;
}
#menuCategory{
    padding: 0px;
    margin: 5px;
}

#productListContainer{
    width: 40%;
    border-left: 3px solid #202020;
}
@media (max-width: 767px) {
    #productListContainer {
        border-left: none;
        width: 60%;
    }
}

#productList li {
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px solid #202020;
    cursor: pointer;
    color: #202020;
}
#productList{
    overflow: scroll;
    height: 82vh;
}
#productList li:hover{
    text-decoration: underline;
    background-color: #f1f1f1;
}

#productDetail{
    background-color:whitesmoke;
    border-left: 3px solid;
    padding: 10px;
    width: 40%;
}
@media (max-width: 767px) {
    #productDetail {
       width: auto;
    }
}
#productName{
    font-size: 2em;
}
@media (max-width: 767px) {
    #productName {
        font-size: 1.5em;
    }
}


