<div class="button_container" id="toggle">
    <nav>menu</nav>
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
</div>
<div class="overlay" id="overlay">
    <nav class="overlay-menu">
    <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/labs">Labs</a></li>
        <li>
            <a href="{{ site.baseurl }}/machines">Machines</a>
            <ul class="submenu">
                    <li><a href="{{ site.baseurl }}/machines/3dprinters">3d Printers</a></li>
                    <li><a href="{{ site.baseurl }}/machines/lasercutters">Lasercutters</a></li>
                    <li><a href="{{ site.baseurl }}/machines/naaimachines">Naaimachines</a></li>
                    <li><a href="{{ site.baseurl }}/machines/vacuumformers">Vacuum Formers</a></li>
                    <li><a href="{{ site.baseurl }}/machines/vinylsnijders">Vinylsnijders</a></li>
                    <li><a href="{{ site.baseurl }}/machines/printers">Printers</a></li>
                    
            </ul>
        </li>
        <li><a href="{{ site.baseurl }}/kosten">Kosten</a></li>
        <li><a href="{{ site.baseurl }}/open-badge/">Open Badge</a></li>
        <li><a href="{{ site.baseurl }}/booking/">Booking</a></li>
        <li><a href="{{ site.baseurl }}/verkoop-uitleen/">Verkoop &amp; Uitleen</a></li>
        <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
    </ul>
    </nav>
</div>