<section class="hours hours--vacation">
    <table class="all">
        <thead>

            <th> 
                Hello Maker! Vanwege de corona crisis zijn wij genoodzaakt om de toegang tot het Stadslab t/m februari te beperken tot enkel onze studenten. Voor niet-HR studenten en medewerkers zijn we via e-mail beschikbaar voor (maak-)vragen en kunnen we je doorverwijzen naar andere maak-faciliteiten. Team Stadslab <a href="mailto:info@stadslabrotterdam.nl">info@stadslabrotterdam.nl</a>
            </th>

            
        </thead>
       
    </table>
</section>