footer.footer{
    width:100%;
    background-color:$color-yellow;
    color:white;
    text-align:center;
    padding:15px 10px 5px;
    box-sizing:border-box;
    clear: both;
    p{
        font-size:16px;
        @include phone{
            font-size:10px;
        }
        a:link, a:active, a:hover, a:visited{
            color:white;
        }
    }
    
}