.hero{
    @include ratio(16, 9);
    position: relative;
    background-image:url('../assets/img/stadslab.jpg');
    background-size:cover;
    background-position:center center;
    &--post{
        @include ratio(21, 9);
    }
}

.hero__meta{
    position:absolute;
    bottom:5vw;
    width:100%;
    h1,h2{
        @extend .wrapper;
        padding-left:4%;
        padding-right:4%;
        color:white;
        margin-bottom:0;
    }
    h2{
        font-family: $base-font-family;
        font-size: 23px;
        line-height:30px;
        font-weight:400;
    }
    h1.title{
        line-height:0.9em;
        .light{
            font-weight:400;
        }
    }
}