<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="{{site.baseurl}}/assets/favicon/site.webmanifest">
        <link rel="mask-icon" href="{{site.baseurl}}/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/main.css">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158250925-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-158250925-1');
        </script>

    </head>
    <body class="{{ page.classes }}">
          {% include menu.html %}
          <header class="header hero hero--{{ page.classes }}">
            <section class="hero__meta">
                <h1 class="title">
                  Stadslab
                  <br/>
                  <span class="light">Rotterdam</span>
                </h1>
                <h2 class="location">
                  Hogeschool Rotterdam<br/>
                  Museumpark 40. MP.L-1.241
                </h2>
            </section>
          </header>
          <main>
              {{ content }}
          </main>
          {% include footer.html %}
     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
     <script src="js/main.js"></script>    
     <script src="https://awesome-table.com/AwesomeTableInclude.js"></script>
     <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
     <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
     <script>
      window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#cf0245",
            "text": "#ffffff"
          },
          "button": {
            "background": "#813cff",
            "text": "#ffffff"
          }
        },
        "position": "bottom-right",
        "content": {
          "message": "Deze website maakt gebruik van cookies. ",
          "dismiss": "Ik ga akkoord"
          //"link": "Lees meer",
         // "href": "/privacybeleid"
        }
      })});
     </script>   
    </body>
</html>
