<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="../css/main.css">

    </head>
    <body>
          {% include menu.html %}
          <header class="header hero hero--post">
            <section class="hero__meta">
                <h1 class="title">{{ page.title }}</h1>
            </section>
            
          </header>
          <main class="">
            
            <h2 class="post-wrapper">{{ page.title }}</h2>
            
            <section class="post-wrapper">
                {{ content }}
            </section>
            
          </main>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../js/main.js"></script>
    </body>
</html>


